{% extends "base.html" %}

{% block body %}
    <style>
    .intro {
        width: 400px;
        direction: rtl;
        margin: 20px auto 20px;
    }
    .intro p {
        margin: auto auto;
    }

    .login-signup {
        width: 200px;
        height: 100px;
        margin: 0 auto;
    }
    </style>
    <div class="intro">
        <p>
            این شلگرام است بستری برای به اشتراک گزاری آنچه درون ذهن شماست...
        </p>
    </div>

    <div class="login-signup row">
        <a href="/auth" class="btn btn-primary">Signup</a>
        <a href="/auth/login" class="btn btn-primary">Login</a>
    </div>

{% endblock %}
